.page {
  min-block-size: 100vh;
  font-family: var(--main-font);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
  padding: 10px;
}

.header__rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  color: var(--accent-color);
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inset-block-start: 8px;
  inset-inline-end: -19px;
}

.header__theme-menu {
  /* ИСПРАВЛЕНО: Добавлен отступ сверху по референсу */
  margin-top: 29px;
  justify-self: end;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 26px;
  border: 1px solid transparent;
  padding: 0 13px;
  color: var(--accent-color);
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--accent-color);
  opacity: 0.4;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--accent-color);
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

.header__title {
  align-self: center;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  inline-size: 100%;
  max-inline-size: 491px;
  font-weight: 700;
}

.title-decor {
  color: var(--heading-color);
  background-color: var(--accent-color);
}

.content {
  padding: 40px 10px;
}

.content__section {
  margin-block-end: 50px;
}

.content__section:last-of-type {
  margin-block-end: 0;
}

.content__title {
  margin-block-end: 20px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.content__subtitle {
  margin-block-end: 10px;
  font-weight: 700;
  font-size: var(--font-size-base);
  line-height: var(--line-height-tight);
}

.content__text-block {
  margin-block-end: 20px;
}

.content__text-block:last-child {
  margin-block-end: 0;
}

.content__paragraph {
  font-weight: 400;
}

.content__paragraph:not(:last-child) {
  margin-block-end: 10px;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.content__cards {
  display: grid;
  gap: 20px;
}

.content__advice {
  display: grid;
  gap: 20px;
}

.content__advice-title {
  font-weight: 400;
  margin-block-end: 10px;
}

.content__gallery {
  display: grid;
  gap: 10px;
  margin-block-start: 50px;
}

.content__gallery-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  min-block-size: 668px;
  block-size: 100vh;
  padding: 10px;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
  
  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
  
  .header {
    padding: 20px;
    min-block-size: 1024px;
  }
  
  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }
  
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  
  .header__theme-menu-list {
    flex-direction: column;
  }
  
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
  
  .header__subtitle {
    max-inline-size: 491px;
  }
  
  .content {
    padding: 60px 20px;
  }
  
  .content__section {
    margin-block-end: 80px;
  }
  
  .content__section:first-child {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  
  .content__section:first-child .content__title {
    margin-block-end: 0;
  }
  
  .content__section:nth-child(2) .content__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .content__gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 80px;
  }
  
  .content__gallery .content__subtitle {
    grid-column: 1 / -1;
  }
  
  .content__gallery-image:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .content__gallery-image:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .content__gallery-image:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .content__gallery-image:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .content__gallery-image:nth-child(6) {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
  
  .footer {
    padding: 20px;
    min-block-size: 1024px;
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  
  .content__section:first-child {
    grid-template-columns: 1fr 2fr;
  }
  
  .content__section:nth-child(2) .content__title {
    inline-size: calc(100% / 3);
  }
  
  .content__section:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  
  .content__section:nth-child(3) .content__title {
    margin-block-end: 0;
  }
}